* {
  margin: 0;
  padding: 0;
  border: none;
}
html {
  overflow: hidden;
}
body {
  background: #3d0200 url(assets/wood-bg.png);
}
.title {
  margin-top: 2%;
  text-align: center;
  color: #fff;
}
#container {
  display: flex;
  margin: 2% auto;
}

/* ==== Game ==== */
#game-progress {
  height: 600px;
  width: 300px;
  background-color: #582f0ead;
  position: absolute;
}
#game {
  margin: 0 auto;
  height: 650px;
  width: 650px;
  background-color: #582f0ead;
}
.enemy {
  height: 50px;
  width: 50px;
  background: url(assets/enemy.gif);
  transition: 0.3s;
}
.main-character {
  height: 50px;
  width: 50px;
  background: url(assets/main.gif); /*#240046ab;*/
  transition: 0.2s;
}
